<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <initialize>
        <processor type="CarLease.Feature.Cars.Pipelines.Initialize.RegisterRoutes, CarLease.Feature.Cars" patch:before="processor[@type='Sitecore.Mvc.Pipelines.Loader.InitializeRoutes, Sitecore.Mvc']"/>
      </initialize>
    </pipelines>
    <services>
      <configurator type="CarLease.Feature.Cars.ServicesConfigurator, CarLease.Feature.Cars"/>
      <register serviceType="CarLease.Feature.Cars.Repositories.IFiltersRepository, CarLease.Feature.Cars"
    implementationType="CarLease.Feature.Cars.Repositories.FiltersRepository, CarLease.Feature.Cars" />
      <register serviceType="CarLease.Feature.Cars.Repositories.ICarsRepository, CarLease.Feature.Cars"
    implementationType="CarLease.Feature.Cars.Repositories.CarsRepository, CarLease.Feature.Cars" />
         
    </services>
  </sitecore>
</configuration>